﻿#background {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0.09%;
	bottom: -0.09%;
	
	background-image: url(../images/background.png)
}
#logo {
	position: absolute;
	left: 41.04%;
	right: 42.55%;
	top: 13.15%;
	bottom: 80.46%;

	
}

#form {
	position: absolute;
	left: 34.38%;
	right: 34.38%;
	top: 31.11%;
	bottom: 31.02%;
	background: #FFFFFF;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
}

#LoginHead {
	position: absolute;
	height: 29px;
	left: 40.94%;
	right: 47.99%;
	top: calc(50% - 29px/2 - 141.5px);
}

#LoginText {
	font-family: Gotham;
	font-size: 24px;
	line-height: 29px;
	/* identical to box height */
	text-align: center;
	letter-spacing: 0.2px;
	color: #262626;
	mix-blend-mode: normal;
	opacity: 0.8;
}

#EmailBox {
	position: absolute;
	left: 5%;
	right: 5%;
	width: 88%;
	top: 31.11%;
	padding: 7px;
	background: #F1F1F1;
	border-radius: 4px;
}


#PasswordBox {
	position: absolute;
	left: 5%;
	right: 5%;
	width: 88%;
	top: 45%;
	padding: 7px;
	background: #F1F1F1;
	border-radius: 4px;
}

input {
	position: absolute;
	left: 37.71%;
	right: 55.83%;
	top: 43.98%;
	bottom: 54.17%;
	font-family: Gotham;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */
	color: #262626;
	mix-blend-mode: normal;
	opacity: 0.5;
}

#ButtonBox {
	position: absolute;
	left: 36.2%;
	right: 36.2%;
	width: 22%;
	top: 80%;
	bottom: 8%;
	background: #ED4159;
	box-shadow: 0px 4px 16px rgba(237, 65, 89, 0.4);
	border-radius: 100px;
	font-family: Gotham;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */
	text-align: center;
	color: #FFFFFF;
	opacity: 0.9;
}

#incorrect {
	position: absolute;
	left: 5%;
	right: 5%;
	width: 88%;
	bottom: 30%;
	padding: 7px;

	font-family: Gotham;
	font-size: 14px;
	line-height: 17px;
	color: #ED4159;

	background: rgba(237, 65, 89, 0.25);
	border-radius: 4px;
}

#fotoDiv {
	position: absolute;
	left: 36.67%;
	
	top: 12.41%;
	
	/*background-image: url(../images/abott@adorable.png);
	background-size: contain;
	background-repeat: no-repeat;
	border: 1px solid #979797;*/
}

#NameDiv {
	position: absolute;
	height: 34px;
	left: 5%;
	right: 5%;
	width: 88%;
	top: calc(60% - 34px/2 - 5px);
	font-family: Gotham;
	font-size: 28px;
	line-height: 34px;
	/* identical to box height */
	text-align: center;
	letter-spacing: 0.233333px;
	color: #262626;
	mix-blend-mode: normal;
	opacity: 0.8;
	#ButtonLogOut
}

#ButtonLogOut {
	position: absolute;
	left: 36.2%;
	right: 36.2%;
	width: 22%;
	top: 80%;
	bottom: 8%;
	background: #ED4159;
	box-shadow: 0px 4px 16px rgba(237, 65, 89, 0.4);
	border-radius: 100px;
	font-family: Gotham;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */
	text-align: center;
	color: #FFFFFF;
	opacity: 0.9;
}

